@import "./../../scss/mixins";
@import "./../../scss/variables";


.container {
  @include container();

  .buttons {
    @include buttonsBlock();
  }
}
.container.max {
  border-width: 3px;
  border-color: $attentionColor;
  box-shadow: 0 0 30px $attentionColor;
}
