@import './../../scss/mixins';
@import './../../scss/variables';


.display {
 @include containerContent();
  text-align: center;
  flex-direction: row;
}

.display.number {
  font-size: 78px;
  color: $backgroundColor;
}

.display.maximum {
  color: $attentionColor;
  font-size: 96px;
}

.display.text {
  font-size: 24px;
  color: $backgroundColor;
}

.display.error_text {
  font-size: 24px;
  color: $attentionColor;
  font-weight: bold;
}




