* {
  box-sizing: border-box;
}
body {
  background-color: moccasin;
}
.container {
  margin: 180px auto 0;
  border: 3px solid #2a8eff;
  border-radius: 10px;
  max-width: 400px;
  height: auto;
  padding: 20px;
}
.display {
  display: grid;
  justify-content: center;
  background-color: #2a8eff;
  padding: 18px;
  text-align: center;
  vertical-align: center;
  font-size: 78px;
  margin: 0 auto;
   max-width: 350px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.maximum {
  color: red;
  font-size: 86px;
  }
.buttons {
  border-radius: 10px;
  margin: 0 auto;
  border: 2px solid #2a8eff;
  max-width: 350px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.button {

}
.btn {
  border: none;
  border-radius: 8px;
  padding: 15px 50px;
  font-size: 24px;
background-color: dodgerblue;
  cursor: pointer;
}
.btn:focus {
    outline: none;
}

