@import "./../../scss/mixins";
@import "./../../scss/variables";


.container {
  @include container();
  .inputsBlock {
    @include containerContent();
    .inputRow {
      width: 100%;
      color: $backgroundColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: 20px;
      }
      .inputError {
        border: 2px solid $attentionColor;
        background-color: #f5d9dd;
        color: $backgroundColor;
        outline: none;
      }
    }
  }
  .buttons {
    @include buttonsBlock();
  }
}



