@import "./../../scss/mixins";
@import "./../../scss/variables";

.wrapperContainer {
  .container {
    @include container();

    .inputsBlock {
      @include containerContent();

      .inputRow {
        width: 100%;
        color: $backgroundColor;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-size: 20px;
        }

        .inputError {
          border: 2px solid $attentionColor;
          background-color: #dba0a4;
          color: $backgroundColor;
          outline: none;
        }
      }
    }

    .buttons {
      @include buttonsBlock();
    }
  }
  @media (max-width: 910px) {
    margin-bottom: 20px;
  }
}



